/* 2020/08/04超大螢幕 照片不夠寬露一截 width:100%?? */
/* 2020/08/04stop choo:hover*/
/*小螢幕不要kchoo animation,漢堡變直的*/
/*為何有box-sizing:border-box; icon就會不見呢*/
/*============================
           base
=============================*/
:root {
  --color-primary:#F5F5F5;
  --color-secodary: #232323; 
  --color-hover: #25ed13;
  --color-tooltipsBackground: #3A8AFD;
}
html{
  height: 100%;
  background: #fafbfc  url("mountains.jpg") no-repeat center center fixed;
  background-blend-mode: multiply;
  animation: sunrise 5s linear forwards;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;  /*for android 照片太短露一截*/
  overflow: hidden;  /*for android 照片太短露一截*/
}
.grid {
  display: grid;
  width: 100%;
}
.nav{
  gird-area: nav;
  width: 100%;
}
/* marquee {
  margin: 0 0 1px 0;
} */
.choo{
  gird-area: choo;
  max-width: 100%;
  margin: auto;
  font-size: 5em;
  font-family: 'Fredericka the Great', cursive;
  transition: transform 1s cubic-bezier(.85,-0.27,.28,.86);
}
a {
  text-decoration: none;
  color: var(--color-primary);
}
/* .choo:hover{ */
    /* transform: translateX(80%) scale(1.1) ; */
    /*color*/
    /* background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0); */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
  /* } */
.search {
  gird-area: search;
  background: var(--color-primary);
  margin: 0 auto;
  width: 50%;
  height: 85%;
  border-radius: 25px;
  /* box-shadow: 1px 0px 10px grey; */
  outline: none;
  border: none;
  box-shadow: 0 9px #e8e8e8;
  cursor: pointer;
  font-family: 'Fredericka the Great', cursive;
}
.search:active {
    opacity: 0.8;
    box-shadow: 0 5px rgb(25, 38, 80);
    transform: translateY(4px);
  }
  .search p {
    font-size: 3em;
    font-weight: bold;
    margin: 0 auto;
  }
  .search p:active,
  .search p:hover {
      transition: transform .3s ease-in;
      transform: scale(1.1);
    }
  #output {
    font-size: 2em;
  }  
.icon{
  gird-area: icon;
}
.footer{
  gird-area: footer;
  margin-right: 3em;
  font-family: 'Fredericka the Great', cursive;
}
.footer a {
    color: var(--color-primary);
  }
.footer a:hover {
color: var(--color-hover);
}
/*==========
nav flex
===========*/
/* #menu {
  display: flex;  
} */

/* #menuToggle, */
.footer{
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-end;
  /* 如何讓hi在最右邊 */
}

  /*==================================
                media Q 
  ======================================*/

@media (min-width: 320px) and (max-width: 568px) {
   .nav{
     height: 5em;
   }
   .search {
     height: 5em;
     width: 80%;
   }
   #output {
    font-size: 1.5em;
  } 
   #spanGroup span {
    position:relative;
    right: -40px;
   }
   #menuToggle input {  /*inline level*/
    position: absolute; 
    right: -40px;
   }
   .choo{
    font-size: 3em; 
  }
  .icon {
    display: flex;
    flex-wrap: wrap;
  }
  #menu {
    margin: -100px 0 0 0;
    padding: 85px 0 0 0;
  }
  #menu li {
    font-size: 2em
  }
}
@media (min-width:950px) {
.grid{
  grid-template-columns: auto;
  grid-template-rows:minmax(200px, .5fr) .5fr .3fr 1.5fr .1fr;
  grid-areas:
  "nav"
  "choo"
  "search"
  "icon"
  "footer"
 }
 #menu {
  margin: -100px 20px 0 20px;
  padding: 85px 60px 0 20px;
} 
}

@media (min-width: 568px) and (max-width: 950px) {
.grid{
  grid-template-columns: auto;
  grid-template-rows: minmax(100px, .2fr) .35fr .2fr .5fr .1fr;
  grid-areas:
  "nav"
  "choo"
  "search"
  "icon"
  "footer"
 }
  .choo{
    font-size: 4em;
  }

  #menu {
    width: 250px;
    margin: -100px 20px 0 20px;
    padding: 85px 60px 0 20px;
  }
  #menu li {
    font-size: 2em
  }
}

/*=====================================
                icons
=======================================*/
    #heart,
    #spotify,
    #codepen,
    #google,
    #youtube,
    #share,
    #facebook,
    #twitter,
    #IG,
    #github,
    #linkedin {
      width:60px;
      height:60px;
      flex-basis: auto;
      flex-wrap: wrap;
      transition: transform .3s;
      padding: 1em 2em;
      margin:0 auto;
    }
    #heart{
      width: 40px;
      height: 40px;
      margin: .5em 0 0 0;
    }
    #heart:hover,
    #spotify:hover,
    #codepen:hover,
    #facebook:hover,
    #youtube:hover,
    #twitter:hover,
    #IG:hover,
    #github:hover,
    #linkedin:hover,
    #google:hover,
    #share:hover{
      transform: rotate(5deg) scale(1.3);  
    }  
     /*======flex===============*/
     .icon {
      display: flex;
      width: 60%;
      margin: auto;  /*置中*/
      justify-content: center;
      flex-wrap: wrap;
    }

/*=========
inside grid
==============*/
/*===============
nav hamburger
=================*/
/*nav 可以是grid*/
/*1 menuToggle外筐*/
/*1============== 
決定漢堡NAV的位置
================*/
#menuToggle {
  display: flex; /*但div已是block level辣*/
/*   flex-direction:  */
  justify-content: flex-end; /*左到右*/ 
  position: relative;
  top: 50px;
  right: 50px;
  
  z-index: 1;
  /*In web browsers, if you double-click on some text it will be selected/highlighted. 
  This property can be used to prevent this.*/
  -webkit-user-select:none;
  user-select: none; 
}

/*2 =============
一些裝飾
=================*/

#menuToggle a {
  color: var(--color-primary);
  transition: color .3s ease
}
#menuToggle a:hover {
  color: var(--color-hover);
}
/*3===========
決定XX的位置
===============*/
#menuToggle input {  /*inline level*/
  /*absolute框框會跑右邊*/
  position: absolute; 
  top: -10px;
  /*right:;/*menu translate之後要調*/
  width: 40px;
  height: 32px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

/*4 ===============
決定漢堡的位置
=================*/
#spanGroup span {
  display: block; /*span是inline*/           
  background: var(--color-hover);  
  position:relative;
  top:-5px;
  /*right: ; /*menu translate之後要調0*/
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  z-index:1; 
  border-radius: 3px;
  
/*   transform-origin:500 500; */
  transition: transform .5 cubic-bezier(0.77,0.2,0.05,1.0);
}
/*5=============
決定漢堡的XX
================*/
/*5 transform-origin可以check之後再來調*/
#spanGroup span:first-child{
  transform-origin:15% 100%;
}

#spanGroup span:last-child {
  transform-origin:15% 0%;
}

#menuToggle input:checked ~#spanGroup span{
  transform: rotate(45deg);
}
#menuToggle input:checked ~#spanGroup span:last-child{
  transform: rotate(-45deg);
}

#menuToggle input:checked ~#spanGroup span:nth-child(2){
  opacity: 0;
}
/*6=============
menu translation
================*/

#menu {
  /*border: red solid 1px; /*只是想看範圍*/
  position:absolute; /*可以讓範圍變小*/
  /* vertical display */
  /* width: 150px; 
  margin: 0 0 20px 0;
  padding: 20px 0 0 0;
  padding-top: ;  */
  /*horizontal display*/
  display: flex;
  justify-content: flex-end;/*是你讓作品集跟漢堡更近了*/
  /* justify-content: flex-end; */
  width: 300px;
  /* margin: -100px 20px 0 20px;
  padding: 85px 60px 0 20px; */
  
/*   background: #ededed; */
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  /*-webkit-transform-origin:;*/
  transform: translate(0%,-100%); /*translate跟()中間不得有空隙*/
  transition: transform .5s cubic-bezier(0.77,0.2,0.05,1.0);
  opacity: 1;
}

#menuToggle input:checked ~ ul{
  -webkit-transform: none;
  opacity: 1;
}

/*2 一些裝飾*/
#menu li {
  padding: 8px .5em;
  font-family: 'Fredericka the Great', cursive;
  color: var(--color-primary);
  font-weight: 900;
  font-size: 1.5em;
}
#menu li:hover{
  color: var(--color-hover);
}

/*============================
          Tooltips
=============================*/
.tool,
.sunrise {
  cursor: pointer;
  position: relative;
  outline: none;
}

.tool::before,
.tool::after {
  position: fixed;
  top: 0;
  right: 15%;
/*   bottom: 100%; */
/*   right: 200%; */
/*   left: 100%; */
  opacity: 0;
  z-index: -100;
}
/* .sunrise:hover::after, */
.tool:hover::before,
.tool:focus::before,
.tool:hover::after,
.tool:focus::after {
  opacity: 1;
  z-index: 100;
  /*最後加上*/
  transform: scale(1) translateY(0);
} 

.tool::before {
  content: "";
/*   border-style:solid; */
/*   border-width: 1em .75em 0 .75em; */
/*   border-color: transparent transparent firebrick transparent; */
/*   bottom: 100%; */
/*   margin-left: 0em; */
  transform: scale(.6) translateY(90%);
  transition: all .65s cubic-bezier(.85, -0.18, .31, 1.26), opacity .65s .5s;
}

.tool:hover::before,
.tool:focus::before {
  transition-delay: .2s;
}
.tool::after {
  border: 1px solid var(--color-primary);
  border-radius: 25px;
/*   bottom: -650%; */
/*   right: 75%; */
  color: var(--color-hover);
/*   width: 3em; */
/*   padding: 1px; */
/*   margin: 5px; */
  /*use data-tip attribute as the value of the content property*/
  content: attr(data-tip);
  transform: scale(.6) translateY(50%);
  transition: all .65s cubic-bezier(.84, -.18, .31, 1.26) .2s;
}
.tool:hover::after,
.tool:focus::after {
  transition-delay: 0s;
}
/* .sunrise::after{
  content: attr(sunrise);
  font-size: .1em;
  transform: scale(.6) translateY(90%);
  transition: all .65s cubic-bezier(.85, -0.18, .31, 1.26), opacity .65s .5s;
  position: fixed;
  top: 40%;
  right: 0%;
  opacity: 0;
  z-index: -100;
  transform: scale(1) translateY(0);
} */

@keyframes sunrise {
  0% {
    background: #fafbfc url("mountains.jpg") no-repeat;
  }
  10%{
    background: #f2f7fd url("mountains.jpg") no-repeat;
  }
  20% {
    background: #e4f0ff url("mountains.jpg") no-repeat;
  }
  30%{
    background: #cee2ff url("mountains.jpg") no-repeat;
  }
  40% {
    background: #afd0ff url("mountains.jpg") no-repeat;
  }
  50%{
    background: #a0c7fd url("mountains.jpg") no-repeat;
  }
  60%{
    background: #97c2ff url("mountains.jpg") no-repeat;
  }
  70% {
    background: #7cb1fc url("mountains.jpg") no-repeat;
  }
  80%{
    background: #66a6ff url("mountains.jpg") no-repeat;
  }
  90%{
    background: #5099ff url("mountains.jpg") no-repeat;
  }
  100% {
    background: #3A8AFD url("mountains.jpg") no-repeat;
  }
}




