@charset "UTF-8";
/*====================
    NAV .nav(for fullscreen: top, bottom, left, right)
=====================*/
.section__nav {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nav;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav {
  position: fixed;
  background: #395883 url(https://cdn.pixabay.com/photo/2017/09/14/22/42/milky-way-2750627_1280.jpg);
  background-blend-mode: multiply;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  /* color: var(--color-secodary); */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1), -webkit-transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__link {
  color: var(--clr-light);
  font-weight: var(--fw-bold);
  font-size: var(--fs-h3);
  /* text-decoration: none; */
}

.nav__link:hover {
  color: var(--clr-hover);
}

.nav-toggle {
  padding: 1em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: fixed;
  /*後又改為fixed, fixed好不會隨螢幕變動*/
  right: 1em;
  top: 1em;
  z-index: 1000;
  outline: none;
}

/*=====================
    NAV ::before
=====================*/
.nav__list > li {
  position: relative;
}

.nav__item > a {
  padding: 5em 0;
}

.nav__item:nth-child(1)::before {
  display: block;
  content: '';
  background-image: url("1.png");
  background-size: cover;
  width: 10em;
  height: 4em;
}

.nav__item:nth-child(2)::before {
  content: '';
  display: block;
  background-image: url("2.png");
  background-size: cover;
  width: 10em;
  height: 5em;
}

.nav__item:nth-child(3)::before {
  content: '';
  display: block;
  background-image: url("3.png");
  background-size: cover;
  width: 10em;
  height: 4em;
}

.nav__item:nth-child(4)::before {
  content: '';
  display: block;
  background-image: url("4.png");
  background-size: cover;
  width: 13em;
  height: 5em;
}

.nav__item:nth-child(5)::before {
  content: '';
  display: block;
  background-image: url("5.png");
  background-size: cover;
  width: 10em;
  height: 4em;
}

/*=====================
    Hamburger 1:44:38
    ===================*/
.hamburger {
  display: block;
  position: relative;
  background: var(--clr-hover);
  width: 3em;
  height: 3px;
  border-radius: 1em;
  margin: 4px;
  /*3 spans instead of psuedo classes */
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

/*======================
            with js
    =======================*/
.nav-open .nav {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
  /*nav滑進來後漢堡不動*/
}

/*with ham transition*/
.nav-open .hbg1 {
  -webkit-transform: rotate(-45deg) translateX(2px) translateY(11px);
  transform: rotate(-45deg) translateX(2px) translateY(11px);
}

.nav-open .hbg2 {
  -webkit-transform: rotate(45deg) translateX(18px) translateY(3px);
  transform: rotate(45deg) translateX(18px) translateY(3px);
}

.nav-open .hbg3 {
  -webkit-transform: rotate(90deg) translateY(1px);
  transform: rotate(90deg) translateY(1px);
  height: 6px;
  width: 3em;
}

/*======================
        
    whole choogl layout
    ======================*/
.grid {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "nav" "choogl";
}

@media (min-width: 200px) and (max-width: 789px) {
  .grid {
    -ms-grid-rows: .2fr 1fr;
    grid-template-rows: .2fr 1fr;
        grid-template-areas: "nav" "choogl";
  }
  .sunrise {
    font-size: var(--fs-h1);
  }
  .search {
    height: 85%;
    width: 60%;
  }
  .nav__list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    /* margin-top: 5em; */
    margin: 1em 0 0 0;
    padding: 0;
  }
}

@media (min-width: 789px) {
  .grid {
    -ms-grid-rows: 2.2fr 5fr;
    grid-template-rows: 2fr 3fr;
        grid-template-areas: "nav" "choogl";
  }
  .nav__list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* margin-top: 5em; */
    margin: 0;
    padding: 0;
  }
}

/*============================
    layout
    =============================*/
.section__choogl {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: choogl;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.choo {
  /* grid-area: choo; */
  max-width: 100%;
  margin: .1em auto;
  /* margin: auto; */
  font-size: 5em;
  font-family: 'Fredericka the Great', cursive;
  -webkit-transition: 1s -webkit-transform;
  transition: 1s -webkit-transform;
  transition: 1s transform;
  transition: 1s transform, 1s -webkit-transform;
  /* transition: transform 1s cubic-bezier(.85,-0.27,.28,.86); */
}

.choo:hover,
.sunrise:hover {
  color: var(--clr-hover);
  /* transform: translateX(80%) scale(1.1) ; */
  /*color*/
  /* background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0); */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
}

.search {
  /* grid-area: search; */
  background: var(--clr-light);
  margin: 1em auto;
  width: 50%;
  height: 85%;
  border-radius: 25px;
  /* box-shadow: 1px 0px 10px grey; */
  outline: none;
  border: none;
  -webkit-box-shadow: 0 9px #e8e8e8;
  box-shadow: 0 9px #e8e8e8;
  cursor: pointer;
  font-family: 'Fredericka the Great', cursive;
}

.search:active {
  opacity: 0.8;
  -webkit-box-shadow: 0 5px #192650;
  box-shadow: 0 5px #192650;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
}

.search p {
  font-size: 3em;
  font-weight: bold;
  margin: .3em auto;
}

.search p:active,
.search p:hover {
  -webkit-transition: -webkit-transform .3s ease-in;
  transition: -webkit-transform .3s ease-in;
  transition: transform .3s ease-in;
  transition: transform .3s ease-in, -webkit-transform .3s ease-in;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#output {
  font-size: 2em;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 60%;
  margin: 1em auto;
  /*置中*/
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-family: 'Fredericka the Great', cursive;
}

.footer a {
  color: var(--clr-light);
  /* padding-bottom: 1em; */
}

.footer a:hover {
  color: var(--clr-hover);
}

/*============================
    style
    =============================*/
html,
body {
  max-width: 100vw;
  margin: 0 auto;
  background: #fafbfc url("mountains.jpg") no-repeat center;
  background-blend-mode: multiply;
  -webkit-animation: sunrise 5s linear forwards;
  animation: sunrise 5s linear forwards;
  background-size: cover;
  height: 100%;
  /*for android 照片太短露一截*/
  overflow: auto;
  /*for android 照片太短露一截*/
}

@media (max-width: 1400px) {
  @-webkit-keyframes sunrise {
    0% {
      background: #fafbfc url("mountains.jpg") no-repeat;
    }
    20% {
      background: #f2f7fd url("mountains.jpg") no-repeat;
    }
    30% {
      background: #e4f0ff url("mountains.jpg") no-repeat;
    }
    50% {
      background: #cee2ff url("mountains.jpg") no-repeat;
    }
    60% {
      background: #afd0ff url("mountains.jpg") no-repeat;
    }
    70% {
      background: #a0c7fd url("mountains.jpg") no-repeat;
    }
    75% {
      background: #97c2ff url("mountains.jpg") no-repeat;
    }
    80% {
      background: #7cb1fc url("mountains.jpg") no-repeat;
    }
    85% {
      background: #66a6ff url("mountains.jpg") no-repeat;
    }
    90% {
      background: #5099ff url("mountains.jpg") no-repeat;
    }
    100% {
      background: #3A8AFD url("mountains.jpg") no-repeat;
    }
  }
  @keyframes sunrise {
    0% {
      background: #fafbfc url("mountains.jpg") no-repeat;
    }
    20% {
      background: #f2f7fd url("mountains.jpg") no-repeat;
    }
    30% {
      background: #e4f0ff url("mountains.jpg") no-repeat;
    }
    50% {
      background: #cee2ff url("mountains.jpg") no-repeat;
    }
    60% {
      background: #afd0ff url("mountains.jpg") no-repeat;
    }
    70% {
      background: #a0c7fd url("mountains.jpg") no-repeat;
    }
    75% {
      background: #97c2ff url("mountains.jpg") no-repeat;
    }
    80% {
      background: #7cb1fc url("mountains.jpg") no-repeat;
    }
    85% {
      background: #66a6ff url("mountains.jpg") no-repeat;
    }
    90% {
      background: #5099ff url("mountains.jpg") no-repeat;
    }
    100% {
      background: #3A8AFD url("mountains.jpg") no-repeat;
    }
  }
}

@media (min-width: 1350px) {
  .sunrise {
    color: var(--clr-hover);
  }
}

#heart,
#book,
#music,
#mail,
#github,
#travel,
#codepen,
#linkedin {
  color: var(--clr-light);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  padding: .3em;
}

#heart:hover,
#book:hover,
#codepen:hover,
#music:hover,
#mail:hover,
#github:hover,
#travel:hover,
#linkedin:hover {
  -webkit-transform: rotate(5deg) scale(1.15);
  transform: rotate(5deg) scale(1.15);
}

/*============================
    base
    =============================*/
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--clr-light);
}

:root {
  --clr-light:#F5F5F5;
  --clr-dark: #232323;
  --clr-hover: #25ed13;
  --color-tooltipsBackground: #3A8AFD;
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}
/*# sourceMappingURL=what.css.map */